<% include ../partials/header%>

<h1>create new</h1>
<div>
    <div>
           <form action="/campgrounds" method="post">
              <input class="form-control" type="text" placeholder="name" name="name">
            <input  class="form-control" type="text" placeholder="name" name="image">
            <input  class="form-control" type="text" placeholder="describe" name="description">

            <button class="btn btn-large btn-default">Submit</button>



                </form>
<a href="/campgrounds">go back</a>
<% include ../partials/footer%>